In [1]:
import pandas as pd 
import numpy as np
import os
import matplotlib.pyplot as plt
import re 
from nltk.tokenize import word_tokenize

In [2]:
default_path = os.getcwd()
data_path = os.path.join(default_path, 'data')

In [3]:
reddit = pd.read_csv(os.path.join(data_path, 'dataset2_processed.csv'))
reddit

,id,type,text,label
0,akj8u,post,"i don't have an addictive personality, so for ...",0
1,akj8u,post,i occasionally look drunk,0
2,akj8u,post,"but, in the last 28 months i've kept a high st...",0
3,akj8u,post,i've had problems with drive - that's possibly...,0
4,akj8u,post,it's been life transforming,0
...,...,...,...,...
5036206,t3_4vjcb2,comment,i understand,0
5036207,t3_4vjcb2,comment,one time a week ago i went through my day as u...,0
5036208,t3_4vjcb2,comment,"i then was like ""wow that's what my voice soun...",0
5036209,t3_4vjdrf,comment,you can click on their username at the top of ...,0
5036210,t3_4vjdrf,comment,hope i helped!,0

In [3]:
daily = pd.read_csv(os.path.join(data_path, 'daily_dataset2_translated.csv'))
daily

,id,context,turn_cnt,speaker_idx,speaker_sex,speaker_age,intent,text,translated
0,95439,연애/결혼,1,1번,남성,30대,(단언) 주장하기,나는 몸에서 멀어지면 마음에서 멀어진다고 생각해,"I think if you move away from the body, you mo..."
1,95439,연애/결혼,2,2번,남성,30대,(단언) 주장하기,그게 참 사람마다 다를 순 있지만 힘든건 사실이지,"It can be different for each person, but it's ..."
2,95439,연애/결혼,3,3번,여성,20대,(단언) 주장하기,처음부터 장거리는 더 힘들 것 같아,I think the long distance from the start will ...
3,95439,연애/결혼,4,1번,남성,30대,(단언) 진술하기,맨날 보고싶으면 결혼하는거지 나처럼~,"If you miss me every day, you get married like me"
4,95439,연애/결혼,5,2번,남성,30대,(지시) 질문하기,그래서 맨날 보니까 좋아?,"So, do you like seeing each other every day?"
...,...,...,...,...,...,...,...,...,...
99033,126547,교통,8,2번,남성,30대,(단언) 주장하기,감기뿐만 아니라 호흡기질환의 발병율이 현저하게 줄어들었다고 해.,It is said that the incidence of respiratory d...
99034,126547,교통,9,3번,남성,40대,(단언) 주장하기,처음엔 좀 불편했는데 요즘은 그렇게 불편하진 않더라 익숙해진거 같아,"It was a little uncomfortable at first, but no..."
99035,126547,교통,10,1번,여성,30대,(단언) 주장하기,난 지하철이나 버스안에선 평생 마스크를 쓸 것 같아.,I think I'll wear a mask for the rest of my li...
99036,126547,교통,11,2번,남성,30대,(단언) 주장하기,이젠 생활 습관으로 받아 드려야 할거 같아.,I think I should accept it as a habit now.
99037,126547,교통,12,3번,남성,40대,(지시) 질문하기,근데 진짜 코로나가 끝나는 때가 오긴 오는걸까?,Will the time really come when COVID-19 ends?

In [4]:
word_list = [word_tokenize(sentence) for sentence in daily.translated.values.tolist()]

In [5]:
idx_word = []

for idx in range(len(word_list)):
    if len(word_list[idx]) <= 32:
        idx_word.append(idx)

In [6]:
daily = daily.loc[idx_word]
daily.reset_index(inplace=True, drop=True)
daily

,id,context,turn_cnt,speaker_idx,speaker_sex,speaker_age,intent,text,translated
0,95439,연애/결혼,1,1번,남성,30대,(단언) 주장하기,나는 몸에서 멀어지면 마음에서 멀어진다고 생각해,"I think if you move away from the body, you mo..."
1,95439,연애/결혼,2,2번,남성,30대,(단언) 주장하기,그게 참 사람마다 다를 순 있지만 힘든건 사실이지,"It can be different for each person, but it's ..."
2,95439,연애/결혼,3,3번,여성,20대,(단언) 주장하기,처음부터 장거리는 더 힘들 것 같아,I think the long distance from the start will ...
3,95439,연애/결혼,4,1번,남성,30대,(단언) 진술하기,맨날 보고싶으면 결혼하는거지 나처럼~,"If you miss me every day, you get married like me"
4,95439,연애/결혼,5,2번,남성,30대,(지시) 질문하기,그래서 맨날 보니까 좋아?,"So, do you like seeing each other every day?"
...,...,...,...,...,...,...,...,...,...
98766,126547,교통,8,2번,남성,30대,(단언) 주장하기,감기뿐만 아니라 호흡기질환의 발병율이 현저하게 줄어들었다고 해.,It is said that the incidence of respiratory d...
98767,126547,교통,9,3번,남성,40대,(단언) 주장하기,처음엔 좀 불편했는데 요즘은 그렇게 불편하진 않더라 익숙해진거 같아,"It was a little uncomfortable at first, but no..."
98768,126547,교통,10,1번,여성,30대,(단언) 주장하기,난 지하철이나 버스안에선 평생 마스크를 쓸 것 같아.,I think I'll wear a mask for the rest of my li...
98769,126547,교통,11,2번,남성,30대,(단언) 주장하기,이젠 생활 습관으로 받아 드려야 할거 같아.,I think I should accept it as a habit now.
98770,126547,교통,12,3번,남성,40대,(지시) 질문하기,근데 진짜 코로나가 끝나는 때가 오긴 오는걸까?,Will the time really come when COVID-19 ends?

In [7]:
daily.duplicated('translated').sum()

5114

In [8]:
daily.drop_duplicates('translated', keep='last', inplace=True)

In [10]:
reddit.duplicated('text').sum()

461601

In [11]:
reddit.text = reddit.text.apply(lambda x: re.sub(r"[0-9]", "", x))
reddit

,id,type,text,label
0,akj8u,post,"i don't have an addictive personality, so for ...",0
1,akj8u,post,i occasionally look drunk,0
2,akj8u,post,"but, in the last months i've kept a high stre...",0
3,akj8u,post,i've had problems with drive - that's possibly...,0
4,akj8u,post,it's been life transforming,0
...,...,...,...,...
5036206,t3_4vjcb2,comment,i understand,0
5036207,t3_4vjcb2,comment,one time a week ago i went through my day as u...,0
5036208,t3_4vjcb2,comment,"i then was like ""wow that's what my voice soun...",0
5036209,t3_4vjdrf,comment,you can click on their username at the top of ...,0
5036210,t3_4vjdrf,comment,hope i helped!,0

In [202]:
reddit.text = reddit.text.apply(lambda x: re.sub(r"[^a-zA-Z \']", "", x))
reddit

,id,type,text,label
0,akj8u,post,i don't have an addictive personality so for t...,0
1,akj8u,post,i occasionally look drunk,0
2,akj8u,post,but in the last months i've kept a high stres...,0
3,akj8u,post,i've had problems with drive that's possibly ...,0
4,akj8u,post,it's been life transforming,0
...,...,...,...,...
5036206,t3_4vjcb2,comment,i understand,0
5036207,t3_4vjcb2,comment,one time a week ago i went through my day as u...,0
5036208,t3_4vjcb2,comment,i then was like wow that's what my voice sound...,0
5036209,t3_4vjdrf,comment,you can click on their username at the top of ...,0
5036210,t3_4vjdrf,comment,hope i helped,0

In [203]:
reddit.duplicated('text').sum()

488989

In [204]:
reddit.drop_duplicates('text', keep='last', inplace=True)
reddit.reset_index(drop=True, inplace=True)
reddit.duplicated().sum()

0

In [205]:
dep_idx = reddit[reddit.text.str.contains('feel depressed')].index.tolist()
dep_idx2 = reddit[reddit.text.str.contains('am depressed')].index.tolist()
dep_idx.extend(dep_idx2)
dep = reddit.loc[set(dep_idx)]
dep.head()

,id,type,text,label
2818049,t3_1ulmjf,comment,yearolds shouldn't feel depressed,0
4030471,t3_50keht,comment,what helps me out the most is having someone a...,0
2064401,t3_xfsgv,comment,people think that you need a big life changing...,0
1146898,3a9q1y,post,my father thinks i am depressed because my min...,0
3833874,t3_38gs1k,comment,supposing i thought everyone hated me i wouldn...,0

In [206]:
ndep_idx = dep[dep.text.str.contains("not depressed")].index.tolist()
ndep_idx2 = dep[dep.text.str.contains("don't feel depressed")].index.tolist()
ndep_idx.extend(ndep_idx2)
ndep = dep.loc[set(ndep_idx)]
ndep.head()

,id,type,text,label
1728002,530ep0,post,i am not depressed because my like is bad my l...,0
1645061,48r80z,post,i don't feel depressed like that i don't matte...,0
3033607,t3_269nq0,comment,when you don't feel depressed you know those t...,0
2438665,t3_1fm15i,comment,i always panic when i don't feel depressed bec...,0
636939,27nauq,post,for example i function almost normally if i am...,0

In [207]:
ndep = dep.loc[set(ndep_idx)]
ndep

,id,type,text,label
1728002,530ep0,post,i am not depressed because my like is bad my l...,0
1645061,48r80z,post,i don't feel depressed like that i don't matte...,0
3033607,t3_269nq0,comment,when you don't feel depressed you know those t...,0
2438665,t3_1fm15i,comment,i always panic when i don't feel depressed bec...,0
636939,27nauq,post,for example i function almost normally if i am...,0
...,...,...,...,...
1383413,4iekc2,post,i don't feel depressed sad even unmotivated,0
3132919,t3_2bty46,comment,nothing feels good and the times when i don't ...,0
1469432,4yxjjk,post,i don't feel sad about anything and i don't fe...,0
343548,1phuro,post,instantly i don't feel depressed i am optimist...,0
976894,3ymdds,post,i don't feel depressed i don't feel anything w...,0

In [208]:
dep.duplicated('text').sum()

0

In [209]:
ndep_idx = ndep.index
ndep.reset_index(drop=True, inplace=True)

In [210]:
dep.drop(ndep_idx, inplace=True)
dep.reset_index(inplace=True, drop=True)
dep

,id,type,text,label
0,t3_1ulmjf,comment,yearolds shouldn't feel depressed,0
1,t3_50keht,comment,what helps me out the most is having someone a...,0
2,t3_xfsgv,comment,people think that you need a big life changing...,0
3,3a9q1y,post,my father thinks i am depressed because my min...,0
4,t3_38gs1k,comment,supposing i thought everyone hated me i wouldn...,0
...,...,...,...,...
9237,2ulmdg,post,some people have it all and still feel depressed,0
9238,t3_4b8fa9,comment,if you feel depressed because of something you...,0
9239,t3_17r3pb,comment,source i am depressed and drunk,0
9240,t3_256rrf,comment,when i am depressed and irritable do not touch me,0
9241,t3_4rla74,comment,i am depressed because i am unemployed in my m...,0

In [211]:
dep.loc[2098].text

'i want to put her mind at ease without telling her i am depressed'

In [212]:
ndep

,id,type,text,label
0,530ep0,post,i am not depressed because my like is bad my l...,0
1,48r80z,post,i don't feel depressed like that i don't matte...,0
2,t3_269nq0,comment,when you don't feel depressed you know those t...,0
3,t3_1fm15i,comment,i always panic when i don't feel depressed bec...,0
4,27nauq,post,for example i function almost normally if i am...,0
...,...,...,...,...
209,4iekc2,post,i don't feel depressed sad even unmotivated,0
210,t3_2bty46,comment,nothing feels good and the times when i don't ...,0
211,4yxjjk,post,i don't feel sad about anything and i don't fe...,0
212,1phuro,post,instantly i don't feel depressed i am optimist...,0
213,3ymdds,post,i don't feel depressed i don't feel anything w...,0

In [192]:
dep_tok = [word_tokenize(text) for text in dep.text.values]
ndep_tok = [word_tokenize(text) for text in ndep.text.values]

dep_idx = []

for idx in range(len(dep_tok)):
    if len(dep_tok[idx]) <= 18:
        dep_idx.append(idx)

ndep_idx = []

for idx in range(len(ndep_tok)):
    if len(ndep_tok[idx]) <= 18:
        ndep_idx.append(idx)

dep = dep.loc[dep_idx]
dep.reset_index(inplace=True, drop=True)
dep

ndep = ndep.loc[ndep_idx]
ndep.reset_index(inplace=True, drop=True)
ndep

In [9]:
context_list = daily.context.unique().tolist()

In [14]:
daily_life = dict()

for idx in range(len(context_list)):
    daily_life[idx] = daily[daily.context==context_list[idx]]
    daily_life[idx].reset_index(drop=True, inplace=True)

In [15]:
daily_df = []

for idx in range(len(daily_life)):
    sample_idx = [] 
    if idx == 0:
        daily_df = daily_life[idx].sample(20, random_state=42) 
        sample_idx = daily_df.index
        daily_life[idx] = daily_life[idx].drop(sample_idx)
        daily_life[idx].reset_index(inplace=True, drop=True)
        continue
        
    sample_df = daily_life[idx].sample(20, random_state=42)
    sample_idx = sample_df.index
    daily_life[idx] = daily_life[idx].drop(sample_idx)
    daily_life[idx].reset_index(inplace=True, drop=True)
    daily_df = pd.concat([daily_df, sample_df])

In [16]:
daily_df.reset_index(inplace=True, drop=True)
daily_df

,id,context,turn_cnt,speaker_idx,speaker_sex,speaker_age,intent,text,translated
0,137696,연애/결혼,8,3번,남성,30대,(단언) 주장하기,키키 주변에서 보면 막 싸우는 커플들이 화해도 잘 하더라 키키,"If you look around Kiki, couples who fight are..."
1,82746,연애/결혼,2,2번,남성,20대,(단언) 주장하기,응 아직 잘 사귀고 있지,"Yeah, we're still dating"
2,85049,연애/결혼,17,2번,여성,20대,(단언) 주장하기,웅 100일이니까 너무 부담스럽게 안 해도 될 거 같아 키키,"Since it's our 100th day, I don't think we nee..."
3,95448,연애/결혼,12,2번,남성,50대,(지시) 충고/제안하기,카드를 하나 주는 건 어떻게 생각하세요,What do you think about giving me a card?
4,70418,연애/결혼,2,2번,남성,20대,(단언) 주장하기,벌써 갈 때가 됐구나...,It's already time to go...
...,...,...,...,...,...,...,...,...,...
395,139888,여행,17,3번,남성,20대,(지시) 명령/요구하기,아니면 전기장판에 누워 있어,Or lie down on the electric pad
396,23050,여행,12,2번,여성,30대,(지시) 충고/제안하기,애들이랑돈열심히모아서꼭가자,Let's save money and go there
397,19202,여행,20,2번,여성,20대,(지시) 부탁하기,그래도 같이 갈 일 생기면 네가 정하렴^^…,"But if you need to go with me, you can decide...."
398,88679,여행,9,2번,남성,30대,(단언) 주장하기,진짜 엄청 맛있었어요.,It was really delicious.
399,27060,여행,13,2번,남성,30대,(단언) 진술하기,처가 친가,one's wife's family

In [17]:
daily_sample = daily_df.translated.values.tolist()

In [213]:
dep.to_csv(os.path.join(data_path, 'dep.csv'), index=False)

In [214]:
ndep.to_csv(os.path.join(data_path, 'ndep.csv'), index=False)

In [28]:
dep = pd.read_csv(os.path.join(data_path, 'dep.csv'))
ndep = pd.read_csv(os.path.join(data_path, 'ndep.csv'))

In [29]:
dep_sample = dep.sample(1000, random_state=42)
ndep_sample = ndep.sample(200, random_state=42)
dep_sample.reset_index(inplace=True, drop=True)
ndep_sample.reset_index(inplace=True, drop=True)

In [30]:
dep_sample

,id,type,text,label
0,3rvavr,post,male aged i used to feel depressed since the ...,0
1,1d960h,post,i am not really sure why i am depressed i am n...,0
2,t3_na46y,comment,i don't know if i can really give you any soli...,0
3,5j02g6,post,which is the same when i am depressed but at l...,0
4,2j55uj,post,i don't think i am depressed i just suck,0
...,...,...,...,...
995,t3_34ogy0,comment,ha mine plummets when i am depressed,0
996,2apcjb,post,it feels weird to i am depressed,0
997,t3_1jwjwx,comment,when i am depressed its like i can handle my e...,0
998,t3_xquvn,comment,i am happy but because i am happy i am depressed,0
999,1r2p1n,post,what if my own hope that i am depressed colors...,0

In [22]:
dep_samp_tok = [word_tokenize(text) for text in dep_sample.text.values]
ndep_samp_tok = [word_tokenize(text) for text in ndep_sample.text.values]

In [31]:
dep_text = dep_sample['text'].values.tolist()
ndep_text = ndep_sample['text'].values.tolist()

In [32]:
dep_text.extend(ndep_text)

In [34]:
len(dep_text), len(daily_sample)

(1200, 400)

In [35]:
bws = pd.DataFrame(dep_text, columns=['text'])
bws_daily = pd.DataFrame(daily_sample, columns=['text'])
bws

                                                   text
0     male aged  i used to feel depressed since the ...
1     i am not really sure why i am depressed i am n...
2     i don't know if i can really give you any soli...
3     which is the same when i am depressed but at l...
4              i don't think i am depressed i just suck
...                                                 ...
1195  any nin while i am depressed not depressed hap...
1196  i like to be alone that's the only time when i...
1197  when you don't feel depressed you feel a sick ...
1198  i am not depressed because i don't get out eno...
1199  any relationships i create when i am not depre...

[1200 rows x 1 columns]

In [39]:
bws.to_csv(os.path.join(data_path, 'bws_dep.csv'), index=False)
bws_daily.to_csv(os.path.join(data_path, 'bws_daily.csv'), index=False)

In [38]:
bws_ndep

                                                  text
0    when life isn't exciting i don't feel depresse...
1    when my living conditions are good i am not de...
2    i've told my parents that i am depressed but a...
3    i am luckily not depressed right now but the w...
4    i am not depressed that i won't make it i am d...
..                                                 ...
595                    Or lie down on the electric pad
596                      Let's save money and go there
597  But if you need to go with me, you can decide....
598                           It was really delicious.
599                                one's wife's family

[600 rows x 1 columns]