In [1]:
import pandas as pd 
import numpy as np
import os 
import random
from nltk.tokenize import word_tokenize

In [2]:
default_path = os.getcwd()
data_path = os.path.join(default_path, 'data')

In [3]:
bws_dep = pd.read_csv(os.path.join(data_path, 'bws_sim_dep_translated.csv'))
bws_ndep = pd.read_csv(os.path.join(data_path, 'bws_sim_daily_translated.csv'))

In [4]:
bws_dep['len'] = bws_dep.text.str.len()
bws_dep.head(3)

,text,translated,len
0,i am sad for both of them and i hope something...,나는 그들 모두에게 슬프고 나는 무언가가 더 나은 방향으로 바뀌기를 바란다,69
1,it feels like all i ever achieve through what ...,불행함을 느끼지 않기 위해 내가 힘든 노력으로 느끼는 것을 통해 내가 성취하는 모든...,134
2,so yet again i lose the person that i tell eve...,그래서 다시 나는 내가 모든 것을 말할 수 있는 사람을 잃고 우울할 때 기분이 나아...,101

In [5]:
bws_tok_len = [len(word_tokenize(text)) for text in bws_dep.text.values]

In [6]:
bws_dep['tok_len'] = bws_tok_len
bws_dep.head(3)

,text,translated,len,tok_len
0,i am sad for both of them and i hope something...,나는 그들 모두에게 슬프고 나는 무언가가 더 나은 방향으로 바뀌기를 바란다,69,15
1,it feels like all i ever achieve through what ...,불행함을 느끼지 않기 위해 내가 힘든 노력으로 느끼는 것을 통해 내가 성취하는 모든...,134,27
2,so yet again i lose the person that i tell eve...,그래서 다시 나는 내가 모든 것을 말할 수 있는 사람을 잃고 우울할 때 기분이 나아...,101,21

In [7]:
bws_ndep

,text,translated
0,The dish-washing family? You mean the husband ...,설거지하는 가족? 설거지를 하는 남편을 말하는 건가요? 키키.
1,My boss is bothering me a lot.,상사가 나를 많이 괴롭힌다.
2,So I told him to break up with me and play as ...,그래서 나는 그에게 나와 헤어지고 그가 원하는 만큼 많은 게임을 하라고 말했다
3,"Instead, I got a 20 million won loan from my m...",대신 엄마한테 2천만 원을 대출받아 2년 만에 갚고 1년을 늦추고 신랑은 3천 원을...
4,Let's just say that.,그냥 그렇게 말하죠.
...,...,...
395,the thing is that i don't feel sad or guilty a...,문제는 내가 슬프거나 죄책감을 느끼지 않고 쉽게 화를 내지 않는다는 것이다
396,i can almost pinpoint when it started but late...,나는 그것이 언제 시작되었는지 거의 정확하게 말할 수 있지만 최근에는 슬프지 않다
397,if you're really unsure then maybe you could t...,만약 당신이 정말로 확신하지 못한다면 아마도 당신은 우울한 전문가들도 틀릴 수 있다...
398,i don't feel sad or happy sometimes angry at t...,나는 가끔 다른 사람들이 하는 일에 화가 나거나 슬프거나 행복하지 않다. 하지만 거...
399,once again i don't feel depressed i have no su...,다시 한번 나는 우울함을 느끼지 않는다. 나는 자살 생각이 없다

In [8]:
bws_dep.len.median()

77.0

In [9]:
bws_dep.tok_len.median()

16.0

In [12]:
print(f'텍스트 길이 중위 값: {bws_dep.len.median()}')
bws_short = bws_dep[bws_dep.len <= 77]
bws_long = bws_dep[bws_dep.len > 77]
print(f'bws_short 개수: {len(bws_short)}')
print(f'bws_long 개수: {len(bws_long)}')
bws_long.head(3)

텍스트 길이 중위 값: 77.0
bws_short 개수: 601
bws_long 개수: 599

,text,translated,len,tok_len
1,it feels like all i ever achieve through what ...,불행함을 느끼지 않기 위해 내가 힘든 노력으로 느끼는 것을 통해 내가 성취하는 모든...,134,27
2,so yet again i lose the person that i tell eve...,그래서 다시 나는 내가 모든 것을 말할 수 있는 사람을 잃고 우울할 때 기분이 나아...,101,21
4,i don't feel like i've done anything to make a...,나는 내가 오랫동안 누군가에게 나를 자랑스럽게 만들기 위해 아무것도 한 것 같지 않...,121,27

In [106]:
bws_long.sort_values('len')

,text,translated,len,tok_len
130,how can i even think of doing that if i feel d...,기분이 우울하면 어떻게 그럴 생각을 할 수 있겠어요. 하지만 오늘은 좋은 날들이 있어요,81,18
560,i have friends back home that check up on me o...,나는 집에 가끔 나를 확인해주는 친구들이 있지만 나는 여전히 외롭다,81,16
552,i am sad so i indulge it by making it worse wh...,나는 슬프기 때문에 학교 공부를 하거나 운동을 할 때 더 나빠지게 함으로써 그것을 즐긴다,81,18
712,i have no hobbies because i am depressed i am ...,나는 우울하기 때문에 취미가 없다. 나는 취미가 없기 때문에 우울하다,81,16
780,i've tried telling people i am depressed a few...,나는 사람들에게 내가 우울하다고 몇 번 말하려고 했지만 어떻게든 그것을 뺄 수 없다,81,18
...,...,...,...,...
991,my university's semester started again and now...,내 대학의 학기가 다시 시작되었고 지금 나는 그들의 똥을 함께 가지고 있는 것처럼 ...,174,32
642,i think the worst is when someone who was clea...,내 생각에 최악은 분명히 심각한 우울증이 아니었던 누군가가 갑자기 슬픔을 느끼기 때...,176,31
915,i am genuinely trying my hardest and nothing i...,나는 진정으로 최선을 다하고 있고 아무것도 잘 되지 않고 있으며 절망적이고 쓸모없고...,178,32
1071,unless they're really self aware they become s...,"그들이 정말로 자신들이 폐쇄되고 비생산적이 된다는 것을 자각하지 않는 한, 그들은 ...",183,31
1074,i actually feel selfish for being blessed with...,나는 실제로 삶을 지속하기 위해 기증자의 건강한 장기가 필요한 훨씬 덜 운이 나쁜 ...,188,32

In [107]:
## 659, 1027
bws_long.drop(130, inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

bws_dep.loc[1024]

In [108]:
bws_short.loc[130] = bws_dep.loc[130]

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:692: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [109]:
len(bws_short), len(bws_long)

(600, 600)

In [110]:
bws_set = []

bws_set1 = dict()
bws_set2 = dict()
bws_set3 = dict()
bws_set4 = dict()
bws_set5 = dict()
bws_set6 = dict()
bws_set7 = dict()
bws_set8 = dict()

bws_set = [bws_set1, bws_set2, bws_set3, bws_set4, bws_set5, bws_set6, bws_set7, bws_set8]
bws_set

[{}, {}, {}, {}, {}, {}, {}, {}]

In [111]:
bws_set[0]

{}

In [112]:
def check_common_tok(idx_list, thresh):
    tok_list = []
    for idx in idx_list:
        try:
            tok_list.append(set(word_tokenize(bws_dep.loc[idx].text)))
        except:
            print(idx)
            continue
    
    for idx in range(3):  # 0,1 
        for idx2 in range(1+idx, 3):   # 0: 1, 2, 1: 2
            if len(tok_list[idx] & tok_list[idx2]) >= thresh:   # 교집합 
                # print(f'{idx_list[idx]}, {idx_list[idx2]}간에 공통 토큰이 {thresh}개 이상입니다.')
                # print(tok_list[idx] & tok_list[idx2])
                return False 
    return True

In [113]:
def is_duplicated(prev_idx_list, idx_list):
    if idx_list in prev_idx_list:
        print(f'중복 질문지입니다.')
        return True
    else:
        return False

In [114]:
bws_short.sort_values('text')

,text,translated,len,tok_len
415,the thing is i don't really have any urge to ...,문제는 내가 우울하다고 누군가에게 말하고 싶은 충동이 전혀 없다는 것이다,80,18
455,then i am sad again,그리고 나는 또 슬프다,20,5
54,this is what happens every time i tell friend...,이것은 내가 친구들에게 슬프다고 말할 때마다 일어나는 일이다,56,12
1010,""" please help, i feel useless",""" 도와주세요, 저는 쓸모가 없어요",29,7
1054,"' you're still you, just less miserable","' 넌 여전히 너야, 그저 덜 비참할 뿐이야",39,9
...,...,...,...,...
893,"you should be able to handle this on your own,...","당신은 이것을 스스로 처리할 수 있어야 합니다, 당신은 한심합니다",68,15
1009,you'll be even more miserable if you have 50k+...,"만약 당신이 그 종이 없이 50,000 이상의 빚을 지고 있다면 당신은 훨씬 더 비...",72,15
146,you're sad well i am sadder,당신은 슬퍼요. 나는 더 슬퍼요,27,7
1005,"you're suffering, and that sounds miserable","당신은 고통받고 있고, 그것은 비참하게 들린다",43,8
301,yup they know i am depressed,응 그들은 내가 우울하다는 것을 알아,28,6

In [115]:
len(bws_short) // 3 + 1, 200 + len(bws_long) // 3 + 1

(201, 401)

In [116]:
short_idx = bws_short.index.tolist()
long_idx = bws_long.index.tolist()
for idx in range(1, len(bws_short) // 3 + 1):
    cnt = 0 
    idx_list = random.sample(short_idx, 3)
    while check_common_tok(idx_list, 5) == False:
        cnt += 1 
        # print(idx_list)
        idx_list = random.sample(short_idx, 3)
        if cnt == len(short_idx):
            break 
    bws_set[0]['Q' + str(idx)] = idx_list
    for idx2 in idx_list:
        short_idx.remove(idx2)

print(idx)
for idx in range(201, 200 + len(bws_long) // 3 + 1):
    cnt = 0
    idx_list = random.sample(long_idx, 3)
    while check_common_tok(idx_list, 8) == False:
        cnt += 1 
        idx_list = random.sample(long_idx, 3)
        if cnt == len(long_idx):
            break 
    bws_set[0]['Q' + str(idx)] = idx_list
    for idx2 in idx_list:
        long_idx.remove(idx2)

print(idx)

200
400

In [117]:
bws_set[0]

{'Q1': [110, 400, 964],
 'Q2': [576, 1019, 619],
 'Q3': [198, 1089, 1013],
 'Q4': [735, 525, 738],
 'Q5': [309, 214, 196],
 'Q6': [761, 380, 100],
 'Q7': [10, 946, 121],
 'Q8': [461, 83, 126],
 'Q9': [638, 549, 465],
 'Q10': [348, 1107, 817],
 'Q11': [346, 300, 750],
 'Q12': [904, 629, 527],
 'Q13': [336, 612, 175],
 'Q14': [331, 773, 368],
 'Q15': [605, 578, 1150],
 'Q16': [253, 819, 680],
 'Q17': [768, 263, 682],
 'Q18': [1101, 724, 981],
 'Q19': [429, 1020, 699],
 'Q20': [855, 95, 1119],
 'Q21': [317, 950, 1151],
 'Q22': [774, 1099, 466],
 'Q23': [920, 674, 289],
 'Q24': [871, 88, 86],
 'Q25': [541, 628, 0],
 'Q26': [868, 76, 264],
 'Q27': [1185, 526, 164],
 'Q28': [144, 269, 132],
 'Q29': [781, 1168, 650],
 'Q30': [668, 217, 965],
 'Q31': [260, 364, 229],
 'Q32': [101, 1117, 120],
 'Q33': [301, 1030, 191],
 'Q34': [312, 387, 821],
 'Q35': [878, 224, 923],
 'Q36': [826, 48, 474],
 'Q37': [1061, 417, 568],
 'Q38': [92, 672, 384],
 'Q39': [907, 519, 402],
 'Q40': [396, 1133, 562],
 'Q41': [1148, 257, 953],
 'Q42': [460, 13, 784],
 'Q43': [787, 621, 1155],
 'Q44': [1042, 113, 337],
 'Q45': [625, 824, 1028],
 'Q46': [797, 727, 600],
 'Q47': [818, 271, 776],
 'Q48': [27, 648, 442],
 'Q49': [593, 557, 940],
 'Q50': [925, 8, 943],
 'Q51': [704, 362, 248],
 'Q52': [1, 249, 807],
 'Q53': [952, 860, 310],
 'Q54': [1039, 185, 1054],
 'Q55': [1048, 736, 167],
 'Q56': [997, 515, 520],
 'Q57': [1171, 900, 814],
 'Q58': [182, 2, 849],
 'Q59': [1087, 228, 1018],
 'Q60': [155, 884, 123],
 'Q61': [24, 79, 623],
 'Q62': [567, 569, 875],
 'Q63': [21, 1055, 60],
 'Q64': [799, 178, 165],
 'Q65': [695, 403, 316],
 'Q66': [1199, 17, 318],
 'Q67': [806, 635, 1022],
 'Q68': [714, 479, 880],
 'Q69': [1149, 936, 689],
 'Q70': [89, 339, 280],
 'Q71': [974, 786, 174],
 'Q72': [800, 1000, 161],
 'Q73': [236, 933, 11],
 'Q74': [1183, 201, 601],
 'Q75': [90, 122, 139],
 'Q76': [1188, 111, 989],
 'Q77': [452, 455, 340],
 'Q78': [564, 487, 324],
 'Q79': [1036, 999, 740],
 'Q80': [791, 1126, 189],
 'Q81': [839, 172, 410],
 'Q82': [38, 517, 1053],
 'Q83': [203, 1091, 808],
 'Q84': [51, 319, 756],
 'Q85': [367, 603, 323],
 'Q86': [792, 652, 1079],
 'Q87': [462, 213, 746],
 'Q88': [587, 225, 143],
 'Q89': [80, 1105, 154],
 'Q90': [645, 41, 777],
 'Q91': [545, 988, 390],
 'Q92': [830, 579, 209],
 'Q93': [805, 153, 1081],
 'Q94': [230, 744, 456],
 'Q95': [793, 1125, 1131],
 'Q96': [426, 581, 492],
 'Q97': [962, 945, 1005],
 'Q98': [361, 124, 802],
 'Q99': [435, 555, 1040],
 'Q100': [357, 935, 276],
 'Q101': [718, 1164, 828],
 'Q102': [921, 755, 1098],
 'Q103': [734, 372, 1058],
 'Q104': [646, 467, 633],
 'Q105': [241, 277, 473],
 'Q106': [1161, 1165, 739],
 'Q107': [15, 556, 1181],
 'Q108': [885, 208, 658],
 'Q109': [352, 59, 1037],
 'Q110': [1145, 72, 333],
 'Q111': [918, 477, 898],
 'Q112': [475, 528, 444],
 'Q113': [767, 491, 108],
 'Q114': [523, 1001, 1034],
 'Q115': [705, 421, 1062],
 'Q116': [26, 1003, 823],
 'Q117': [413, 969, 14],
 'Q118': [199, 769, 130],
 'Q119': [1121, 1056, 207],
 'Q120': [1097, 270, 912],
 'Q121': [439, 504, 470],
 'Q122': [822, 937, 966],
 'Q123': [1059, 607, 306],
 'Q124': [733, 1070, 505],
 'Q125': [70, 877, 147],
 'Q126': [752, 640, 983],
 'Q127': [859, 1092, 861],
 'Q128': [637, 404, 657],
 'Q129': [112, 398, 757],
 'Q130': [141, 184, 742],
 'Q131': [66, 688, 827],
 'Q132': [626, 305, 546],
 'Q133': [437, 914, 597],
 'Q134': [544, 1012, 741],
 'Q135': [662, 314, 794],
 'Q136': [159, 676, 1179],
 'Q137': [343, 1064, 423],
 'Q138': [608, 497, 102],
 'Q139': [553, 954, 283],
 'Q140': [1093, 282, 255],
 'Q141': [820, 1110, 1189],
 'Q142': [976, 1103, 565],
 'Q143': [330, 987, 187],
 'Q144': [1038, 731, 726],
 'Q145': [1049, 842, 457],
 'Q146': [192, 691, 1129],
 'Q147': [858, 93, 594],
 'Q148': [872, 433, 883],
 'Q149': [589, 304, 561],
 'Q150': [42, 447, 1084],
 'Q151': [893, 873, 210],
 'Q152': [1021, 624, 386],
 'Q153': [483, 486, 663],
 'Q154': [415, 1026, 297],
 'Q155': [355, 1009, 788],
 'Q156': [636, 846, 383],
 'Q157': [833, 715, 1102],
 'Q158': [45, 119, 381],
 'Q159': [1023, 1077, 659],
 'Q160': [632, 232, 547],
 'Q161': [1160, 977, 905],
 'Q162': [592, 244, 1010],
 'Q163': [609, 294, 157],
 'Q164': [825, 599, 482],
 'Q165': [748, 1112, 307],
 'Q166': [1104, 146, 1163],
 'Q167': [667, 909, 1082],
 'Q168': [700, 1057, 901],
 'Q169': [34, 1025, 910],
 'Q170': [16, 647, 107],
 'Q171': [6, 1193, 471],
 'Q172': [266, 869, 1111],
 'Q173': [614, 267, 326],
 'Q174': [23, 98, 431],
 'Q175': [292, 489, 508],
 'Q176': [775, 137, 543],
 'Q177': [443, 216, 240],
 'Q178': [671, 1158, 221],
 'Q179': [534, 200, 109],
 'Q180': [1191, 40, 50],
 'Q181': [922, 176, 82],
 'Q182': [495, 399, 57],
 'Q183': [496, 183, 272],
 'Q184': [1142, 602, 929],
 'Q185': [655, 1109, 681],
 'Q186': [170, 235, 771],
 'Q187': [69, 890, 91],
 'Q188': [684, 243, 54],
 'Q189': [499, 947, 47],
 'Q190': [1135, 836, 341],
 'Q191': [448, 754, 180],
 'Q192': [770, 782, 679],
 'Q193': [1008, 1187, 193],
 'Q194': [33, 1063, 274],
 'Q195': [288, 713, 1045],
 'Q196': [717, 571, 698],
 'Q197': [949, 1015, 25],
 'Q198': [65, 353, 789],
 'Q199': [238, 1120, 596],
 'Q200': [204, 425, 363],
 'Q201': [574, 1134, 376],
 'Q202': [588, 215, 888],
 'Q203': [103, 370, 591],
 'Q204': [188, 332, 377],
 'Q205': [743, 30, 854],
 'Q206': [710, 128, 220],
 'Q207': [1073, 857, 265],
 'Q208': [359, 468, 1108],
 'Q209': [693, 484, 409],
 'Q210': [706, 1072, 354],
 'Q211': [677, 35, 1016],
 'Q212': [406, 125, 256],
 'Q213': [1137, 653, 369],
 'Q214': [701, 972, 577],
 'Q215': [979, 245, 395],
 'Q216': [500, 1115, 171],
 'Q217': [311, 559, 687],
 'Q218': [1198, 566, 28],
 'Q219': [764, 902, 438],
 'Q220': [1096, 996, 747],
 'Q221': [664, 1114, 335],
 'Q222': [1124, 831, 779],
 'Q223': [1128, 186, 68],
 'Q224': [967, 897, 1027],
 'Q225': [502, 247, 751],
 'Q226': [1143, 692, 941],
 'Q227': [939, 424, 1006],
 'Q228': [39, 908, 350],
 'Q229': [984, 1031, 654],
 'Q230': [1004, 218, 1152],
 'Q231': [49, 532, 533],
 'Q232': [169, 874, 886],
 'Q233': [18, 1184, 296],
 'Q234': [815, 759, 322],
 'Q235': [903, 118, 970],
 'Q236': [61, 344, 1032],
 'Q237': [919, 832, 287],
 'Q238': [1060, 1050, 703],
 'Q239': [853, 507, 956],
 'Q240': [1159, 798, 87],
 'Q241': [617, 975, 711],
 'Q242': [334, 766, 723],
 'Q243': [1175, 615, 284],
 'Q244': [1011, 179, 136],
 'Q245': [870, 863, 488],
 'Q246': [991, 394, 252],
 'Q247': [134, 31, 1080],
 'Q248': [513, 765, 813],
 'Q249': [62, 451, 783],
 'Q250': [729, 844, 20],
 'Q251': [22, 622, 1169],
 'Q252': [37, 1139, 560],
 'Q253': [1017, 1075, 891],
 'Q254': [329, 1076, 980],
 'Q255': [418, 1141, 464],
 'Q256': [990, 542, 585],
 'Q257': [720, 7, 882],
 'Q258': [867, 1100, 485],
 'Q259': [75, 651, 835],
 'Q260': [145, 1197, 889],
 'Q261': [942, 1085, 558],
 'Q262': [810, 385, 837],
 'Q263': [707, 46, 151],
 'Q264': [96, 19, 453],
 'Q265': [105, 436, 231],
 'Q266': [115, 259, 315],
 'Q267': [142, 242, 127],
 'Q268': [563, 985, 293],
 'Q269': [934, 834, 641],
 'Q270': [911, 320, 702],
 'Q271': [1156, 1178, 961],
 'Q272': [1106, 4, 29],
 'Q273': [55, 160, 190],
 'Q274': [843, 1138, 211],
 'Q275': [992, 469, 237],
 'Q276': [879, 9, 379],
 'Q277': [864, 803, 156],
 'Q278': [490, 360, 227],
 'Q279': [986, 313, 963],
 'Q280': [709, 1116, 957],
 'Q281': [572, 412, 281],
 'Q282': [97, 298, 1122],
 'Q283': [749, 345, 1033],
 'Q284': [928, 138, 131],
 'Q285': [382, 811, 1074],
 'Q286': [158, 233, 116],
 'Q287': [428, 1071, 993],
 'Q288': [67, 512, 521],
 'Q289': [371, 63, 1002],
 'Q290': [202, 763, 968],
 'Q291': [148, 43, 503],
 'Q292': [58, 1154, 1190],
 'Q293': [697, 74, 772],
 'Q294': [1166, 163, 494],
 'Q295': [81, 481, 1176],
 'Q296': [760, 463, 56],
 'Q297': [84, 690, 206],
 'Q298': [205, 472, 446],
 'Q299': [539, 913, 493],
 'Q300': [758, 716, 405],
 'Q301': [926, 501, 480],
 'Q302': [135, 649, 441],
 'Q303': [538, 850, 666],
 'Q304': [1067, 408, 790],
 'Q305': [894, 584, 261],
 'Q306': [246, 656, 906],
 'Q307': [998, 258, 895],
 'Q308': [378, 392, 518],
 'Q309': [325, 32, 812],
 'Q310': [295, 365, 851],
 'Q311': [959, 1083, 978],
 'Q312': [1180, 411, 3],
 'Q313': [916, 268, 1136],
 'Q314': [730, 1182, 177],
 'Q315': [586, 432, 876],
 'Q316': [275, 212, 930],
 'Q317': [342, 273, 958],
 'Q318': [52, 440, 397],
 'Q319': [459, 887, 1173],
 'Q320': [516, 932, 140],
 'Q321': [419, 712, 728],
 'Q322': [1035, 610, 262],
 'Q323': [642, 290, 643],
 'Q324': [583, 374, 971],
 'Q325': [1144, 347, 686],
 'Q326': [416, 388, 719],
 'Q327': [721, 630, 753],
 'Q328': [449, 1147, 129],
 'Q329': [550, 522, 881],
 'Q330': [866, 1046, 745],
 'Q331': [239, 665, 540],
 'Q332': [575, 606, 924],
 'Q333': [234, 722, 537],
 'Q334': [64, 1170, 85],
 'Q335': [1043, 1052, 604],
 'Q336': [1195, 899, 1113],
 'Q337': [670, 338, 391],
 'Q338': [673, 450, 278],
 'Q339': [434, 478, 1157],
 'Q340': [524, 660, 1132],
 'Q341': [173, 982, 149],
 'Q342': [551, 302, 675],
 'Q343': [1123, 661, 737],
 'Q344': [194, 162, 1014],
 'Q345': [1051, 595, 639],
 'Q346': [251, 222, 573],
 'Q347': [36, 223, 685],
 'Q348': [554, 856, 1153],
 'Q349': [166, 150, 915],
 'Q350': [71, 994, 279],
 'Q351': [1068, 358, 1024],
 'Q352': [506, 1167, 644],
 'Q353': [308, 476, 960],
 'Q354': [454, 328, 611],
 'Q355': [1095, 955, 77],
 'Q356': [618, 598, 973],
 'Q357': [951, 1162, 514],
 'Q358': [780, 114, 840],
 'Q359': [94, 580, 620],
 'Q360': [816, 414, 590],
 'Q361': [1094, 12, 427],
 'Q362': [536, 634, 510],
 'Q363': [862, 570, 195],
 'Q364': [892, 401, 53],
 'Q365': [73, 1029, 1078],
 'Q366': [1065, 1086, 152],
 'Q367': [373, 351, 44],
 'Q368': [535, 226, 848],
 'Q369': [1044, 931, 299],
 'Q370': [631, 366, 303],
 'Q371': [78, 530, 407],
 'Q372': [801, 927, 531],
 'Q373': [1177, 778, 627],
 'Q374': [725, 168, 219],
 'Q375': [708, 1007, 422],
 'Q376': [181, 393, 389],
 'Q377': [1090, 548, 1088],
 'Q378': [613, 917, 1140],
 'Q379': [133, 445, 327],
 'Q380': [1066, 1047, 1127],
 'Q381': [795, 104, 1118],
 'Q382': [117, 683, 529],
 'Q383': [944, 678, 1146],
 'Q384': [841, 1041, 669],
 'Q385': [250, 375, 796],
 'Q386': [552, 1186, 509],
 'Q387': [1069, 349, 197],
 'Q388': [852, 785, 948],
 'Q389': [498, 582, 285],
 'Q390': [865, 420, 1174],
 'Q391': [286, 1196, 321],
 'Q392': [995, 254, 696],
 'Q393': [291, 829, 430],
 'Q394': [511, 1172, 356],
 'Q395': [5, 838, 809],
 'Q396': [804, 847, 99],
 'Q397': [896, 1192, 1194],
 'Q398': [732, 845, 694],
 'Q399': [616, 106, 458],
 'Q400': [938, 762, 1130]}

In [118]:
prev_idx_list = list(bws_set[0].values())

In [119]:
for idx in range(1, 8):
    short_idx = bws_short.index.tolist()
    long_idx = bws_long.index.tolist()
    for idx2 in range(1, len(bws_short) // 3 + 1):
        cnt = 0 
        idx_list = random.sample(short_idx, 3)
        while check_common_tok(idx_list, 5) == False or is_duplicated(prev_idx_list, idx_list) == True:
            cnt += 1 
            idx_list = random.sample(short_idx, 3)
            if cnt == len(short_idx):
                break 
        bws_set[idx]['Q' + str(idx2)] = idx_list
        for idx3 in idx_list:
            short_idx.remove(idx3)

    print(idx2)
    for idx2 in range(201, 200 + len(bws_long) // 3 + 1):
        cnt = 0
        idx_list2 = random.sample(long_idx, 3)
        while check_common_tok(idx_list2, 8) == False or is_duplicated(prev_idx_list, idx_list2) == True:
            cnt += 1 
            idx_list2 = random.sample(long_idx, 3)
            if cnt == len(long_idx):
                break 
        bws_set[idx]['Q' + str(idx2)] = idx_list2
        for idx3 in idx_list2:
            long_idx.remove(idx3)
            
    prev_idx_list.extend(list(bws_set[idx-1].values()))
    print(idx2)

200
400
200
400
200
400
200
400
200
400
200
400
200
400

In [120]:
bws_ndep.index += 1200
bws_ndep

,text,translated
1200,Angry every time I go to a wedding. crying,결혼식에 갈 때마다 화가 나요. 우는
1201,"My friend likes Gong Yoo, so refer to his style",내 친구가 공유를 좋아하니까 그의 스타일을 참고해
1202,Do you have any place in mind for your honeymoon?,당신은 신혼여행을 위해 생각하고 있는 장소가 있나요?
1203,"Congratulations, both of you","축하해요, 둘 다"
1204,"If you wear the same thing, it becomes a coupl...",같은 옷을 입으면 커플 잠옷이 된다
...,...,...
1595,what can i do to enjoy things again is it even...,내가 무엇을 다시 즐기기 위해 할 수 있는 것은 심지어 가능하다는 것이다. 나는 대...
1596,i don't feel depressed at the moment but i rea...,지금은 우울하지 않지만 언니가 방문하기 전에 매번 나는 극도로 짜증나고 불안하다는 ...
1597,if you're no longer in pain or don't feel sad ...,네가 더 이상 아프지 않거나 슬프지 않다면 슬퍼하는 것보다 더 나은 것 같아
1598,its a time where i don't feel as depressed and...,내가 우울하지 않은 시간이고 좋은 날에는 일하는 동안 전혀 우울하지 않다.
1599,i don't feel sad or anything,나는 슬프거나 아무것도 느끼지 않는다

In [121]:
ndep_idx = bws_ndep.index.tolist()
random.sample(ndep_idx, 1)[0]

1585

In [122]:
bws_dep

,text,translated,len,tok_len
0,i am depressed suicidal sad and basically ever...,나는 우울해 자살을 슬퍼하고 기본적으로 모든 부정적인 감정들,71,11
1,i know it's not good i know i am depressed but...,좋지 않다는 것을 알지만 내가 우울하다는 것을 알지만 나는 그것에 대해 아무것도 하...,79,19
2,i told her i am depressed and that i am starti...,나는 그녀에게 내가 우울하고 상담사를 만나기 시작했다고 말했다,67,15
3,i am depressed because i am sick of people not...,나는 사람들이 이 끊임없는 게임 개발을 보지 못하는 것에 질려서 우울하다,85,15
4,my situation is that i am depressed and i have...,나의 상황은 우울하고 울거나 진정한 감정을 전달할 능력이 없다는 것이다,92,19
...,...,...,...,...
1195,i feel so guilty and ashamed having this much ...,"나는 내 가족이 그것처럼 충분한 스트레스에 직면하고 있을 때, 이렇게 많은 돈을 가...",127,26
1196,in spite of all of that i can't shake this per...,"그 모든 것에도 불구하고 나는 나 자신에 대한 이 인식을 완전히 한심하고, 쓸모없고...",113,22
1197,losing interest in things that used to bring y...,"당신에게 기쁨을 가져다주던 것들에 흥미를 잃고, 울고, 두렵고, 무력하고, 절망적인...",163,31
1198,i spend so much time in my goddamn head thinki...,나는 너무 외로워서 내가 인간으로서 얼마나 가치가 없는지에 대해 빌어먹을 머릿속에서...,111,23
1199,"i'm miserable, i'm angry (raging anger and see...","나는 비참하고, 화가 나지만(분노와 들끓음) 살아남았다",67,16

In [123]:
for idx in range(len(bws_set)):
    ndep_idx = bws_ndep.index.tolist()
    for q_list in bws_set[idx].values():
        nidx = random.sample(ndep_idx, 1)
        q_list.append(nidx[0])
        ndep_idx.remove(nidx[0])

In [124]:
import pickle 

with open(os.path.join(data_path, 'bws_sim10_set.pickle'), 'wb') as f:
    pickle.dump(bws_set, f, pickle.HIGHEST_PROTOCOL)

In [125]:
for num in range(0, 8):
    idx_list = []
    for idx_set in list(bws_set[num].values()):
        for idx in idx_set:
            idx_list.append(idx)
    
    print(f'Set{num} 중복 데이터 검사: {len(set(idx_list))}')

Set0 중복 데이터 검사: 1600
Set1 중복 데이터 검사: 1600
Set2 중복 데이터 검사: 1600
Set3 중복 데이터 검사: 1600
Set4 중복 데이터 검사: 1600
Set5 중복 데이터 검사: 1600
Set6 중복 데이터 검사: 1600
Set7 중복 데이터 검사: 1600